name: CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [windows-latest, macOS-latest, ubuntu-latest]
                node-version: [20.x]
                deno-version: [1.x]

        steps:
            - uses: actions/checkout@v4

            - name: Set up Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Set up Deno ${{ matrix.deno-version }}
              uses: denoland/setup-deno@v1
              with:
                  deno-version: ${{ matrix.deno-version }}

            - name: npm install, build, and test
              run: |
                  npm install
                  npm test
              env:
                  CI: true
